// ion-col {
//     border: 1px solid red;
// }

ion-card {
    border: 1px solid green;
}

.dokter-img {
    border-radius: 100% !important;
    overflow: hidden;
    width: 100px;
    border: 5px solid rgb(10, 88, 33);
    // box-shadow: 1px 1px 10px green;
    position: absolute;
    top: 38%;
}

h1 {
    text-align: center;
}

.card {
    height: 220px;
}

ion-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #2AAD77;
}

ion-card-subtitle {
    font-size: 9px;
    color: white;
}

ion-card-title {
    font-size: 8px;
    color: white;
}

ion-card-content {
    font-size: 9px;
}