<ion-header>
  <ion-toolbar>
    <ion-title>Filter Dokter</ion-title>
    <ion-buttons slot="start">
      <ion-back-button mode="md" defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row class="ion-align-items-center" class="ion-justify-content-center">
      <ion-col size-md="2" class="ion-align-self-center">
        <div>
          <ion-button expand="block" class="button" color="dark" size="small">
            <div class="parent"> Show All</div>
          </ion-button>
        </div>
      </ion-col>
      <ion-col size-md="4">

        <ion-item>
          <ion-icon name="calendar-outline"></ion-icon>

          <!-- <h1>placeholder="Date of Schedule"</h1> -->
          <ion-datetime placeholder="Date of Schedule"></ion-datetime>
        </ion-item>

        <!-- <h1></h1> -->
      </ion-col>
      <ion-col size-md="4">
        <ion-item>
          <ion-label>Choose Specialist</ion-label>
          <ion-select placeholder="Choose Specialist" value=" notifications" interface="action-sheet">
            <ion-select-option value="enable">Enable</ion-select-option>
            <ion-select-option value="mute">Mute</ion-select-option>
            <ion-select-option value="mute_week">Mute for a week</ion-select-option>
            <ion-select-option value="mute_year">Mute for a year</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size-md="2" class="ion-align-self-center">
        <div>
          <ion-button expand="block" class="button" color="dark" size="small">
            <div class="parent"> Check</div>
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <h1>LIST DOKTER</h1>


  <ion-grid class="ion-no-padding">
    <ion-row size-md="1" class="ion-align-items-center">
      <ion-col size-md="10" offset-md="1" size-xl="10" offset-xl="1" class="ion-align-self-center">
        <div *ngFor="let a of items" class="category-block">
          <ion-slides pager="true" [options]="slideOpts">
            <ion-slide *ngFor="let dokter of a.dokters" class="swiper-wrapper">
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <ion-card class="card" (click)="next()">
                      <ion-card-header>
                        <ion-card-subtitle>{{dokter.specialist}}</ion-card-subtitle>
                        <ion-card-title>{{dokter.name}}</ion-card-title>

                      </ion-card-header>
                      <img src="{{dokter.img}}" class="dokter-img">
                      <ion-card-content>
                        <!-- Founded in 1829 on an isthmus between Lake Monona -->
                      </ion-card-content>
                    </ion-card>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-slide>
          </ion-slides>
        </div>
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>