.back {
  position: absolute;
  top: 2%;
  left: 2%;
  z-index: 1;
}
.left_side,
.right_side {
  top: 2px;
  height: 97vh;
  border-radius: 30px;
  position: relative;
}

.left_side {
  background-color: #2aad77;
  display: flex;
  justify-content: center;
  align-items: center;
  // margin-top: -55px;
  box-shadow: 8px 8px 30px #a6a6a6;
  overflow: hidden;
}

.right_side {
  // background-color: hotpink;

  display: flex;
  justify-content: center;
  align-items: center;
}

.dokter {
  display: flex;
  justify-content: center;
}

.dokter-img {
  border-radius: 100% !important;
  overflow: hidden;
  width: 300px;
  border: 10px solid white;
  box-shadow: 0px 25px 20px -6px #3c3d3d;
  // position: absolute;
  // top: 30%;
}

h1,
h2 {
  color: white;
}

h1 {
  font-size: 35px;
  text-align: center;
}

h2 {
  text-align: center;
}

.person {
  display: flex;
  justify-content: center;
}

ion-input {
  //   --color: #2aad77;
  max-width: 50vw;
}
.submit {
  --box-shadow: 8px 8px 10px #d6d4d4;
}
// .item-hightlight {
//   color: #2aad77;
// }

:host ::ng-deep .ng-select.custom {
  min-height: 0px !important;
  max-width: 50vw !important;
}

:host ::ng-deep .ng-select.dropdown {
  border: 1px solid black !important;
}

::ng-deep .ng-select {
  padding-left: 19px;
  /* padding-bottom: 1.25em; */
  padding-top: 18px;
  padding-bottom: 0px;
}

::ng-deep .ng-select .ng-select-container .ng-value-container .ng-placeholder {
  color: #2aad77;
}

::ng-deep
  .ng-select.ng-select-focused
  .ng-select-container
  .ng-value-container
  .ng-placeholder {
  color: #2aad77;
}

::ng-deep
  .ng-dropdown-panel
  .ng-dropdown-panel-items
  .ng-option.ng-option-selected {
  color: #2aad77;
}

:host ::ng-deep .ng-select .ng-select-container:after {
  border-bottom-color: #c8c7cc !important;
}

// ion-grid {

//     ion-row {
//         height: 33.33%;
//     }
// }

// ion-row {
//   border: 1px solid rgb(200, 255, 0);
// }

// ion-col {
//   border: 1px solid red;
// }
